<h1>Sign into your account</h1>
<%= form_with url: users_sign_in_path, method: :post do |f|%>
  <% if @errors.present? %>
    <div class="alert alert-danger" role="alert">
      <%= @errors %>
    </div>
  <% end %>

  <div class="form-group">
    <label for="email">Email address</label>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <%= f.submit 'Sign in', class: 'btn btn-primary'%>
<% end %>