<h1>Change password</h1>

<span class="navbar-text">
  Hello, <%= current_user.first_name %> <%= current_user.last_name %>
</span>
<%= form_with url: users_update_password_path, method: :post do |f|%>
  <% if @errors.present? %>
    <div class="alert alert-danger" role="alert">
      <%= @errors %>
    </div>
  <% end %>
  
  <div class="form-group">
    <label for="email">Old password</label>
    <%= f.text_field :old_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="password">New password</label>
    <%= f.password_field :new_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="password">Confirm new password</label>
    <%= f.password_field :new_password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit 'Save changes', class: 'btn btn-primary'%>
<% end %>