<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_logged_in? %>
      <li class="nav-item mt-2 me-3">
        <span class="navbar-text">
          Hello, <%= link_to current_user.first_name, users_profile_path %>
        </span>
      </li>
      <li class="nav-item me-3">
        <%= link_to 'Change password', users_change_password_path, class: 'nav-link' %>
      </li>
      <li class="nav-item me-5">
        <%= link_to 'Log out', sign_out_path, class: 'btn btn-danger'%>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to 'Log In', users_sign_in_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', users_sign_up_path, class: 'btn btn-success'%>
      </li>
      <% end %>
    </ul>
  </div>
</nav>